<h1 class="text-2xl font-bold mb-6">Category: <%= @category.name %></h1>
<%= turbo_stream_from @category %>

<div class="flex">
  <div class="w-1/4" data-controller="activity">
    <%= form_with url: category_path(@category), method: :get, data: { turbo_frame: "products_#{@category.id}" } do |f| %>
      <div class="mb-4">
        <%= f.select :mode, options_for_select({ "Pick option" => nil, "Stay at home" => "home", "Go running" => "running"}, params[:color]),
          {include_blank: true}, {data: {activity_target: "input", url: test_mode_category_url(@category), action: "change->activity#select"}} %>

        <div class="my-2">
          <div data-activity-target="loading" class="hidden">Loading...</div>
          <div id="option"></div>
        </div>
      </div>
      <div class="mb-4">
        <%= f.label :color, "Filter by color" %>
        <%= f.select :color, options_for_select({"Red" => "red", "Blue" => "blue"},
          params[:color]),{ include_blank: true }, onchange: "this.form.requestSubmit();"  %>
      </div>
    <% end %>
  </div>

  <div class="w-3/4">
    <%= turbo_frame_tag "test", src: settings_category_path(@category) do %>
      <%= render SkeletonComponent %>
    <% end %>
    <%= turbo_frame_tag "categories_#{@category.id}", data: { "turbo-action": "advance" } do %>
      <div class="flex flex-wrap">
        <%= render partial: "products/product", collection: @products, locals: { category: @category } %>
      </div>
      <div class="my-2">
        <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
      </div>
    <% end %>
    <div class="mb-4">
      <%= turbo_frame_tag "test", src: settings_category_path(@category), loading: "lazy" do %>
        <%= render partial: "shared/skeleton" %>
      <% end %>
    </div>
  </div>
</div>
