<!DOCTYPE html>
<html>
  <head>
    <title>SocialStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <nav class="bg-gray-800 text-white p-4">
      <div class="container mx-auto flex justify-between items-center">
        <div class="flex">
          <% @pages.each do |page| %>
            <%= link_to page.title, page_path(page), class: "mr-2" %>
          <% end %>
        </div>
        <!-- Optional Logo or Branding -->
        <div>
          <a href="#" class="text-lg font-bold">Your Brand</a>
        </div>
      </div>
    </nav>
    <main class="container mx-auto my-4">
      <%= yield %>
    </main>
  </body>
</html>
